.App {
  text-align: center;
}

nav ul {
  display: flex;
  margin-block-start: 0;
  background-color: blanchedalmond;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

nav ul li {
  margin-right: 1rem;
  list-style: none;
}